:root {
    --light-beige: #FAF8F1; 
    --yellow: #FAEAB1;
    --beige: #E5BA73;
    --brown: #C58940;
}

header {
    padding: 25px;
    background-color: var(--brown);

}
#nav li {

    font-weight: bold;
    font-size: 25px;
    color: var(--brown);
    display: inline;
    /* text-align: center; */
    padding: 5px;
}

body {

    background-color: var(--brown);
    color: var(--brown);
    font-family: sans-serif;
    margin: 0px;
}

h1 {
    text-align: center;
    padding: 40px;
    background-color: var(--beige);
    color: var(--light-beige);
    margin: 0px;
    display: block;
    font-size: 100px;
}
.main {

    background-color: var(--yellow);
    text-align: center;
}
h2 {
   display: inline-block;
    font-size: 60px;
}

h3 {
    display: flex;
    flex-direction: column;
    margin: 30px;
    font-size: 40px;

}

.lower-sections {
    color: var(--yellow);
    font-size: 60px;
} 

p {

    color: var(--yellow);
    font-size: 25px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--beige);
    margin: 0px;
    color: black;
}