:root {
    --black: #181823; 
    --blue: #537FE7;
    --light-blue: #C0EEF2;
    --very-light: #E9F8F9;
}

header {
    padding: 1px;
    background-color: var(--black);
    text-align: end;

}
a {
    color: var(--blue);
}
a:hover {
    color: var(--very-light);
    text-shadow: 5px 5px 5px var(--light-blue);
}

#nav li {

    font-weight: bold;
    font-size: 25px;
    color: var(--blue);
    display: inline-block;
    /* text-align: center; */
    padding: 10px;
    text-align: left;
    margin: 0px;
}

/* #about:hover a {
    color: var(--very-light);
}
#work:hover a {
    color: var(--very-light);
}
#contact:hover a {
    color: var(--very-light);
}
#github:hover a {
    color: var(--very-light);
} */


body {

    background-color: var(--black);
    color: var(--blue);
    font-family: sans-serif;
    margin: 0px;
}
aside {
flex: 1;
}

h1 {
    text-align: center;
    padding: 40px;
    background-color: var(--light-blue);
    color: var(-- --blue);
    margin: 0px;
    display: block;
    font-size: 100px;
    text-shadow: 5px 5px 5px var(--black);
}
.main {

    background-color: var(--light-blue);
    text-align: center;
    margin-bottom: 30px;
    display: flex;
}
h2 {
   /* display: inline-block; */
    font-size: 60px;
    color: var(--blue);
    text-shadow: 1px 1px 5px var(--blue);
    
}

h3 {
    display: block;
    /* flex-direction: column; */
    margin: 20px;
    font-size: 40px;
    flex-wrap: wrap;
    padding: 30px;
    border: solid var(--blue);
    height: 100px;
    width: 400px;
    border-width: 20px;
    background-color: var(--black);
    color: var(--light-blue);
    text-shadow: 1px 1px 3px var(--very-light);
}
h3:hover {
    display: block;
    color: var(--very-light);
    text-shadow: 5px 5px 5px var(--light-blue);
}
#html:hover {
    box-shadow: 5px 5px 5px 5px var(--black);
}
#css:hover {
    box-shadow: 5px 5px 5px 5px var(--black);
}#advanced:hover {
    box-shadow: 5px 5px 5px 5px var(--black);
}#java:hover {
    box-shadow: 5px 5px 5px 5px var(--black);
}

.sections {
    color: var(--blue);
    font-size: 60px;
    padding: 10px;
    margin: 10px;
    border-bottom: solid var(--light-blue);
    display: block;
    flex: 1;
} 

p {
    color: var(--very-light);
    font-size: 25px;
    margin: 20px;
    flex: 2;
    display: block;
    max-width: 1100px;
    flex-wrap: wrap;
    line-height: 30px;
}
.sections li {
    font-size: 25px;
    color: var(--very-light);
    margin: 10px;
    padding: 10px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--black);
    margin: 0px;
    color: var(--very-light);
}
